<h1> <%=@recipe.title%><br> </h1>

季節:
<%=@recipe.season_i18n%><br>
<%=@recipe.body%>
<%if current_user == @recipe.user%>
    <%= button_to "レシピの編集",edit_recipe_path,method: :get%>
    <%= button_to "レシピの削除",recipe_path,method: :delete%>
<%end%>
