<div class='container'>
    <h2 class='center'><%=@user.name%>さんのページ</h2>
    <h5 class='center'><%=@user.name%>さんのレシピ一覧</h5>
    <% @recipes.each do |recipe|%>
    
        <div class='bg-dark text-white mt-3'>
            <div class='row'>
                <div class='col-auto '><h2><%=link_to "#{recipe.title}",recipe_path(recipe),class:"link"%></h2></div>
            </div>
            <div class='row'>
            <div class='col'><%=recipe.favorites.size%>人がお気に入りに追加しました</div>
            </div>
        </div>
    <% end %>
    <%= paginate @recipes %>
</div>

